body {
    margin:0px;
    padding: 6px;
    
}

p {
    font-size: calc(100vw - 3);
}

h1 {
    text-align: center;
    background-color: #cc7743;
}

h2 {
    text-align: center;
    background-color: #e7c396;
}

h3 {
    text-align: center;
    background-color: #a96a54;
}

h4 {
    text-align: center;
    background-color: #6f282e;
}

h5 {
    text-align: center;
    background-color: #ccbeae;
}

#intro {
    width:100vw;
    display:flex;
    flex-wrap:wrap;
}

#column_1 {
    width:50vw;
}

#column_2 {
    width:50vw;
    align-items: center;
    justify-content: center;  
}

#column_3 {
    width:100vw;
}

#column_4 {
    width:100vw;
    align-items: center;
    justify-content: center;  
}

#fugees {
    width:100vw;
    display:flex;
    flex-wrap:wrap;
}

#solo {
    width:100vw;
    display:flex;
    flex-direction: row;
}

#column_5 {
    flex: 1;
}

#column_6 {
    flex: 1;
    background-color: #cc7743;
}

#column_7 {
    flex: 1;
}


@media (max-width: 480px)
{
    #intro {
        display:block;
    }
    #column_1 {
        width:100vw;
    }

    #column_2 {
        width:100vw;
    }

     #fugees {
        display:block;
    }

    #column_3 {
        width:100vw;
    }
    #column_4 {
        width:100vw;
    }

   #solo {
        display:block;
    }

    #column_5 {
        width:100vw;
    }

    #column_6 {
        width:100vw;
    }

    #column_7 {
        width:100vw;
    }

    
}