body {
    margin:0px;
    padding:8px;
    
}

p {
    font-size: calc(100vw - 3);
}

h1 {
    text-align: center;
}

#main {
    width:100vw;
    display:flex;
    flex-wrap:wrap;
}

#column_1 {
    width:50vw;
}

#column_2 {
    width:50vw;
    align-items: center;
    justify-content: center;  
}

@media (max-width: 480px)
{
    #main {
        display:block;
    }
    #column_1 {
        width:100vw;
    }

    #column_2 {
        width:100vw;
    }
}